<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tlstreams.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-bay-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TLstreams</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$TLstreams</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TLStreamApp3Context" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:wuealqhux6.database.windows.net,1433;Initial Catalog=TLstreams_db;User ID=TLstreamsadmin@wuealqhux6;Password=428Birkel" Name="Data Source=tcp:wuealqhux6.database.windows.net,1433;Initial Catalog=TLstreams_db;User Id=TLstreamsadmin@wuealqhux6;Password=428Birkel" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TLStreamApp3.Models.TLStreamApp3Context, TLStreamApp3" MigrationConfiguration="TLStreamApp3.Migrations.Configuration, TLStreamApp3" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:wuealqhux6.database.windows.net,1433;Initial Catalog=TLstreams_db;User ID=TLstreamsadmin@wuealqhux6;Password=428Birkel" Name="Data Source=tcp:wuealqhux6.database.windows.net,1433;Initial Catalog=TLstreams_db;User Id=TLstreamsadmin@wuealqhux6;Password=428Birkel" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-TLStreamApp3-20130117100224.mdf;Initial Catalog=aspnet-TLStreamApp3-20130117100224;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-TLStreamApp3-20130117100224;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-TLStreamApp3-20130117100224.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:wuealqhux6.database.windows.net,1433;Initial Catalog=TLstreams_db;User Id=TLstreamsadmin@wuealqhux6;Password=428Birkel</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TLStreamApp3Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:wuealqhux6.database.windows.net,1433;Initial Catalog=TLstreams_db;User Id=TLstreamsadmin@wuealqhux6;Password=428Birkel</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>